/*-------------------------------------------------*/

// = Isotope

/*-------------------------------------------------*/

[data-isotope] {
    [class*="element"] {
        padding: 25px 15px;
    }
    &[data-isotope-columns="four"] {
        [class*="element"] {
            width: 25%;
            @include media(full) {
                width: 33.33333333%;
            }
            @include media(large) {
                width: 50%;
            }
            @include media(medium) {
                width: 100%;
            }
        }
    }
    &[data-isotope-columns="three"] {
        [class*="element"] {
            width: 33.33333333%;
            @include media(large) {
                width: 50%;
            }
            @include media(medium) {
                width: 100%;
            }
        }
    }
}

[data-isotope="masonry"] {
    [class*="element"] {
        padding: 9px 0;
    }
    &[data-isotope-columns="four"] {
        [class*="element"] {
            width: 25%;
            width: calc(25% - 18px);
            @include media(full) {
                width: 33.33333333%;
                width: calc(33.33333333% - 18px);
            }
            @include media(large) {
                width: 50%;
                width: calc(50% - 18px);
            }
            @include media(medium) {
                width: 100%;
            }
        }
    }
    &[data-isotope-columns="three"] {
        [class*="element"] {
            width: 33.33333333%;
            width: calc(33.33333333% - 18px);
            @include media(large) {
                width: 50%;
                width: calc(50% - 18px);
            }
            @include media(medium) {
                width: 100%;
            }
        }
    }
}

[data-isotope-filters] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1rem;
        margin: 0.5rem 0;
        padding-bottom: 0;
        padding-right: 1rem;
        color: $paragraph-color-light;
        font-weight: 600;
    }
    ul {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        li {
            margin: 0.5rem;
            display: inline-block;
            font-family: $primary-color;
            color: $paragraph-color-light;
            font-size: 1rem;
            font-weight: 400;
            cursor: pointer;
            user-select: none;
            &.is-checked {
                color: $primary-color;
            }
        }
    }
}